body{
    color: brown;
}
h2{
    color: orangered;
}
.bgc{
    background-color: yellow;
    text-decoration: none ;
}
.sty{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 10px;
    letter-spacing: 5px;
}
